* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}
a:link {
	text-decoration: none;
}

body {
	min-height: 100vh;
}
h2 {
	color: #246f98;
	font-size: 20px;
	margin: 0 0 10px 0;
}
h2 span {
	color: #e74045;
	font-size: 14px;
	margin: 0 0 10px 0;
	font-weight: normal;
}
.wrap {
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	min-height: 100px;
	background-color: #ddd;
}

.footer {
	min-height: 100px;
	background-color: #ddd;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}

.content {
	width: 1000px;
}

.aside {
	width: 250px;
	margin-left: 30px;
}

.list ul {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
}

.list ul li {
	width: 180px;
	margin: 0 20px 0 0;
}

.list ul li a {
	position: relative;
	display: block;
	width: 100%;
	color: #000;
}

.list ul li input {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 1;
	width: 20px;
	height: 20px;
}

.list ul li input + label {
	display: block;
	cursor: pointer;
}
.list ul li input.active + label,
.list ul li input:checked + label {
	position: relative;
	opacity: 0.3;
}
.list ul li input.active + label::after,
.list ul li input:checked + label::after {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	/* color:#fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px; */
}

.list ul li input:checked + label + .minus {
	position: absolute;
	left: 50%;
	top: 170px;
	z-index: 10;
	transform: translate(-50%, 0);
	color: #999;
	font-size: 50px;
}

.list ul li .photo {
	width: 100%;
}

.list ul li .photo img {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.list ul li dl {
	margin-top: 10px;
}

.list ul li dl dt {
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.list ul li dl dd {
	margin-top: 10px;
	font-size: 14px;
	color: #999;
	line-height: 1.5;
}

.aside .side_01 {
	margin-bottom: 30px;
}
.aside .side_01 .form-select {
	width: 100%;
	font-size: 14px;
	padding: 0.3em 0;
	border: 1px solid #aaa;
	border-radius: 3px;
}

.aside .select_list {
	margin-bottom: 50px;
}

.aside .select_list dl {
	margin-bottom: 50px;
}

.aside .select_list dl dt {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: rgb(175, 80, 230);
	padding: 0.5em;
	border-radius: 3px;
}

.aside .select_list dl dd {
	padding: 0.5em 0;
}

.aside .select_list dl dd.active p {
	display: none;
}

.aside .select_list p,
.aside .select_list ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.aside .select_list ul li span {
	display: inline-block;
	font-size: 18px;
}

.aside .btn_set {
	display: flex;
	justify-content: space-between;
}

.aside .btn_set a {
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	border-radius: 5px;
}
.aside .btn_set a:nth-child(1) {
	background-color: #2bba72;
	color: #fff;
}
.aside .btn_set a:nth-child(2) {
	background-color: #b72e2e;
	color: #fff;
}

/* popup */
.popupWrap {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	transition: all 0.3s;
}
.popupWrap.active {
	visibility: visible;
	opacity: 1;
}

.popupWrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
}

.blackLayer {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.popupWrap .popupContent {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 101;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 80vh;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.popupWrap .popupContent .close {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 101;
	font-size: 30px;
	cursor: pointer;
}

.popupWrap .popupContent .inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px;
}

.planList ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.planList ul li {
	position: relative;
	width: 20%;
}
.planList ul li span {
	display: inline-block;
	color: #ddd;
	font-size: 30px;
	position: absolute;
	right: -50px;
	top: 50%;
	z-index: 100;
	transform: translateY(-20%);
}

.planList ul li dl dt {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.planList ul li dl dd img {
	width: 100%;
	border-radius: 10px;
}

.description {
	margin: 50px 0;
	background-color: #e1e1e1;
	border-radius: 10px;
	padding: 100px 0;
	text-align: center;
	font-size: 20px;
}

.description strong {
	color: #09c;
	display: inline-block;
}

.popupWrap .popupContent .inner .btnSet {
	 width: 100%;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
 }

.popupWrap .popupContent .inner .btnSet a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	border-radius: 5px;
	background-color: #2bba72;
	color: #fff;
	font-size: 14px;
}
