{{>layouts/header}} <!-- 게시판 내용 /articles/{id} -->

<table class="table">
    <thead>
    <th width =  "1400px" > 교토 당일치기! </th>
    <th scope="col">ID </th>
    <th> Kimnossic </th>

    </thead>
    <tbody>
    <tr>
        <td  rowspan = "2" align=center>
            <br>
            언제 어느시즌에 가도 참 좋은 교토! <br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/E1.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">오사카에서 출발해서 하루동안 여행한 후기! </p>
                </div>
            </div> <br> <br>

            가와라마치역에서 원데이 버스 승차권 구매 후 <br>
            가장 먼저 버스 타고 은각사 방문!<br>
            정말 잘 꾸며진 정원과, 조명이 너무 아름다웠고,<br>
            규모가 크지 않아 가볍게 한바퀴 둘러보기 참 좋았음<br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/E2.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">이용시간 08:30~17:00 입장가격  500엔</p>
                </div>
            </div> <br> <br>

            버스타고 도부츠마에 정류장 에서 내려서<br>
            유명한 교토식 우동집에서 식사<br>
            여기는 진짜 진한 국물에, 튀긴 우엉이 퍼펙트 했음<br>
            친구랑 가면 카레 우동도 시켜서 꼭 나눠먹는거 추천!<br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/E3.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">대부분 교토 우동가게는 3~4시쯤 문 닫고<br>
                        대기가 기니까 시간 체크하고 방문 바람! </p>
                </div>
            </div> <br> <br>

            밥먹고 진짜 일본 관광 시작! <br>
            진짜 골목마다 느낌이 다른데, 여기 진짜 이뻤음<br>
            사진 보니까 또 가고 싶네<br><br>


            <div class="card" style="width: 50rem;">
                <img src="/images/E4.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">니넨자카</p>
                </div>
            </div> <br> <br>

            너무 이뻐서 여기저기 정신 없이 둘러보다 보니까<br>
            배고파져서 뭐먹지 하다가<br>
            산죠역 근처에 규카츠 집을 찾아서 먹으러감<br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/E5.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">사진만 봐도 맛있어 보이지 않나요?</p>
                </div>
            </div>

            <br>
            너무 좋았던 교토 여행이었습니다! <br>
            여러분도 참고해서 다녀와 보세요!<br><br> <br>
        </td>
        <td><button type="button" class="btn btn-primary" disabled> 수정 </button></td>
        <td><button type="button" class="btn btn-danger" disabled> 삭제 </button></td>
    </tr>
    <tr>
        <td colspan="2"><a href="/articles/new" class="btn btn-primary">내 계획 공유</a>  </td>
    </tr>
    </tbody>


</table>



{{>layouts/footer}}