{{>layouts/header}} <!-- 게시판 내용 /articles/{id} -->

<table class="table">
    <thead>
    <th width =  "1400px"> 짱구마을 후기 </th>
    <th scope="col">ID </th>
    <th> keart </th>

    </thead>
    <tbody>
    <tr>
        <td  rowspan = "2" align=center >
            <br>
            짱구가 사는 마을은 우리 나라에서는 떡잎마을이라고 번역되었지만<br>
            실제로는 일본의 카스카베 마을을 배경으로 했다고 해요! <br><br>
            카스카베 역 도착!  전철이 출발할 때마다 짱구 만화 브금 나와여 ㅋㅋ<br>
            <div class="card" style="width: 50rem;">
                <img src="/images/Q1.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">역 입구부터 짱구랑 흰둥이가 반겨줘요 </p>
                </div>
            </div> <br> <br>
            역 앞에 정원이 있는데 봄에는 역 앞에 짱구 모양 꽃이 핀다고 해요<br>

            <div class="card" style="width: 50rem;">
                <img src="/images/B9.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> </p>
                </div>
            </div> <br> <br>

            짱구 캐릭터가 그려져 있는 하루버스 시내버스 타고 출발했습니다!<br><br>


            <div class="card" style="width: 50rem;">
                <img src="/images/Q2.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">하루에 6편 밖에 안다닌대요! 시간 꼭 체크하고 가세요!</p>
                </div>
            </div> <br>
            <div class="card" style="width: 50rem;">
                <img src="/images/Q3.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">마을을 걷다보면  짱구가 계속 튀어 나옵니다</p>
                </div>
            </div> <br>
            <div class="card" style="width: 50rem;">
                <img src="/images/Q4.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">실제로 짱구 만화에 나왔던 액션 백화점도 있어요!</p>
                </div>
            </div> <br> <br>

            백화점까지 둘러보고 마지막으로 서쪽으로 쭉 가면<br>
            라라가덴 이라는 백화점 있는데, 짱구 게임센터랑 박물관이 있어요<br> <br>

            <div class="card" style="width: 50rem;">
                <img src="/images/Q5.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">짱구 황금 엉덩이 </p>
                </div>
            </div><br><br>

            둘러보고, 짱구마을에 오면 꼭 먹어줘야 하는 음식점이 있다고 해서 방문했어요!<br>
            라라가덴 나오면 바로 있어요!<br>
            부리부리자에몽의 돼지덮밥!<br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/Q6.JPG"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">JMT </p> <br> <br>
                </div>
            </div><br><br>

            짱구를 좋아해서 보러 왔지만<br>
            생각보다 마을이 작고 볼거리가 많지는 않아<br>
            아쉬웠던 여행이었네요 ㅠ<br><br> <br>

        </td>
        <td><button type="button" class="btn btn-primary" disabled> 수정 </button></td>
        <td><button type="button" class="btn btn-danger" disabled> 삭제 </button></td>
    </tr>
    <tr>
        <td colspan="2"><a href="/articles/new" class="btn btn-primary">내 계획 공유</a>  </td>
    </tr>
    </tbody>


</table>



{{>layouts/footer}}