{{>layouts/header}} <!-- 게시판 내용 /articles/{id} -->

<table class="table">
    <thead>
    <th width =  "1400px"> 오사카 여행기! </th>
    <th scope="col">ID </th>
    <th> PJH </th>

    </thead>
    <tbody>
    <tr>
        <td  rowspan = "2" align=center>
            <br>
            여행 시작 <br>
            도착하자 마자 배고파서 키라쿠 라멘 한사바리 때리구 <br> <br>
            <div class="card" style="width: 50rem;">
                <img src="/images/A4.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">일본 = 라멘 ㅇㅈ? </p>
                </div>
            </div> <br>
            오사카 성 구경함  <br> <br>

            <div class="card" style="width: 50rem;">
                <img src="/images/B7.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">밤 되면, 진짜 이쁨 </p>
                </div>
            </div> <br> <br>

            일본 성은 처음 보는데, 음.. 그냥 한번 가보셈! <br><br>


            <div class="card" style="width: 50rem;">
                <img src="/images/B5.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">오사카 도톤보리 (난바역이 있는 오사카 교통의 중심지)</p>
                </div>
            </div> <br> <br>
            도톤보리 쇼핑몰 상가밀집 지역 구경하면서 돌아다니다가 <br>
            기념 사진 필수코스 '달리는 구리코상' 사진 한번 찍고 <br>
            배고파서 오코노미야끼 먹었는데, 진짜 존맛탱... 이자카야는 비교도 안됨<br> <br> <br>
            <div class="card" style="width: 50rem;">
                <img src="/images/A3.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">진짜 꼭 먹어야됨, 두번 먹어야 됨</p>
                </div>
            </div>

            <br>
            먹고 숙소와서 뻗음 끝~ <br>
            ㅎㅎ <br><br><br>
        </td>
        <td><button type="button" class="btn btn-primary" disabled> 수정 </button></td>
        <td><button type="button" class="btn btn-danger" disabled> 삭제 </button></td>
    </tr>
    <tr>
        <td colspan="2"><a href="/articles/new" class="btn btn-primary">내 계획 공유</a>  </td>
    </tr>
    </tbody>


</table>



{{>layouts/footer}}