{{>layouts/header}} <!-- 게시판 내용 /articles/{id} -->

<table class="table">
    <thead>
    <th width =  "1400px"> 후쿠오카 </th>
    <th scope="col">ID </th>
    <th> HATE </th>

    </thead>
    <tbody>
    <tr>
        <td  rowspan = "2" align=center >
            <br>
            도착하자마자  <br>
            산책하면서 일본 왔다는 느낌 받으면서 <br><br>
            <div class="card" style="width: 50rem;">
                <img src="/images/B1.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">공원 연못에 떠 있는 3개의 섬과 이 섬들을 이어주는 4개의 다리(3개는 개원 당시부터 있었던 다리. <br>오호리 공원의 수변 경치를 상징함 섬에는 개원 당시부터 있던 소나무도 현존하고 있어 역사를 느끼면서 자연을 즐길 수 있음.(후쿠오카시 등록 문화재)  </p>
                </div>
            </div> <br> <br>
            구경하다가 배고파서 공원 주변 우동집 옴  <br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/A2.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">우통 + 튀김 존맛탱  </p>
                </div>
            </div> <br>

           밥먹고 캐널시티 하카타 옴  <br>
            만화에 나올법한 장소였음!  <br>
            쇼핑몰도 구경할 수 있고 그냥 여기서 하루종일 놀 수 있을듯!<br><br>

            <div class="card" style="width: 50rem;">
                <img src="/images/B8.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">캐널시티(canal city)라는 말에 걸맞게 건물 동들 사이에 물이 흐른다. 바로 서쪽에 하카타강이 흐르고 있어 그 강으로부터 물을 끌어온 듯한 컨셉이다. <BR>
                        운하가 있는 곳에서는 매시 30분마다 분수 쇼를 한다. 저녁에 보면 더 멋있다고 한다.</p>
                </div>
            </div> <br>
            신나게 돌아다니다보니까 또 배고파서  <br>
            일본 포장마차 한번 가봄! <br>
            <br>
            <div class="card" style="width: 50rem;">
                <img src="/images/A1.jpg"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">너무 맛있어서, 술왕창 먹어서 뭐 먹었는지는 기억 안남 ㅎㅎ;</p>
                </div>
            </div>

            <br>
            또 가고 싶다! <br>
             <br>
        </td>
        <td><button type="button" class="btn btn-primary" disabled> 수정 </button></td>
        <td><button type="button" class="btn btn-danger" disabled> 삭제 </button></td>
    </tr>
    <tr>
        <td colspan="2"><a href="/articles/new" class="btn btn-primary">내 계획 공유</a>  </td>
    </tr>
    </tbody>


</table>



{{>layouts/footer}}